html {box-sizing:border-box;}
*, *::before, *::after {box-sizing:inherit;}

#mainWrapper {
    width: 1300px;
    display: flex;
    margin: auto;
    font-family: "BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol"
}
#userProfile {
    width: 272px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}
#repos {
    width: 1028px;
    margin-left: 20px;
    margin-right: 20px;
    
}
#repoWrap {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(186, 186, 187);
}
#star {
    margin-right: 25px;
    margin-top: 30px;
}
#repo {
    margin-left: 25px;
    max-width: 800px;
}
#repo h3 {
    color: rgb(18,105,211);
    font-weight: 600;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
#nav {
    display: flex;
    justify-content: flex-start;
    height: 50px;
    align-items: center;
    border-bottom: 1px solid rgb(186, 186, 187);
}
#nav li{
    width: 110px;
    height: 50px;
    text-align: center;
    margin-right: 10px;
    line-height: 61px;
}
#nav li:hover {
    border-bottom: 2px solid black;
}
#nav li:nth-child(2) {
    border-bottom: 2px solid rgb(255,98,32)
}
.counts {
    padding: 2px;
    background-color: rgb(237,237,238);
    border-radius: 10px;
}
.repoDescription {
    font-size: 13px;
}
#star button:hover {
    color: gold;
}
.repo-language-color {
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    position: relative;
    top: 1px;
    width: 12px;
}
.javascript {
    background-color: #f1e05a;
}
.html {
    background-color: #e34c26;
}
.css {
    background-color: #563d7c;
}
.hide {
    display: none;
}